/* Bill window styles */
body {
  margin: 0 6px 0 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  max-width: 130px;
  padding: 4px 0;
  margin-bottom: 6px;
  vertical-align: bottom;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td {
  padding: 0;
}

tr.sales-header th:nth-child(1),
tr.purchase-header th:nth-child(1) {
  text-align: left;
  padding-left: 10px;
  width: 25%;
}

tr.sales-header th:nth-child(2),
tr.sales-row td:nth-child(2) {
  text-align: right;
  width: 10%;
}

tr.sales-header th:nth-child(3),
tr.sales-row td:nth-child(3),
tr.purchase-header th:nth-child(2),
tr.purchase-row td:nth-child(2) {
  text-align: right;
  width: 13%;
}

tr.sales-header th:nth-child(4),
tr.sales-row td:nth-child(4) {
  text-align: right;
}

tr.sales-row td:nth-child(5) {
  text-align: right;
  width: 22%;
}

tr.sales-header th:nth-child(5) {
  padding-right: 10px;
  text-align: right;
  width: 22%;
}

tr.purchase-header th:nth-child(3),
tr.purchase-row td:nth-child(3) {
  text-align: right;
  width: 25%;
}

tr.purchase-header th:nth-child(4) {
  padding-right: 10px;
  text-align: right;
  width: 25%;
}

tr.purchase-row td:nth-child(4) {
  text-align: right;
  width: 25%;
}

.bill-container {
  padding: 0;
  color: black;
  font-size: 12px;
  background-color: white;
}

.dashed-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.section-end {
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}

.section-close {
  margin-bottom: 10px;
}

.title-large {
  margin-bottom: 0;
  text-align: center;
  font-size: 22px;
}

@font-face {
  font-family: 'gabriele';
  src: url('../resource/dsGabriele.ttf');
}

.sub-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  font-family: gabriele;
}

.bill-contents {
  font-size: 12px;
}

.total-box {
  padding-top: 4px;
}

.due-box {
  padding-top: 4px;
  border-top: 1px solid black;
}

.wrapper-div {
  margin-bottom: 10px;
  overflow: hidden;
}

.custom-box {
  margin: 0 2px;
}

.upper-margin {
  margin-top: 12px;
}

.td-align-left {
  text-align: left;
}

.td-align-center {
  text-align: center;
}

.td-align-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.split-forty {
  width: calc(38% - 1px);
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

table.print-friendly tr {
  page-break-inside: avoid;
}

.avoid-break-inside {
  break-inside: avoid-page;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

#print-button-div {
  overflow: hidden;
}

#print-button {
  position:fixed;
  top: 2px;
  right: 2px;
  z-index: 2;
  cursor: pointer;
  padding: 1px 5px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

#top-left-header {
  font-weight: bold;
  padding-top: 4px;
}

#bill-header {
  border: 2px solid black;
}

#bill-top-header {
  overflow: hidden;
  font-size: 12px;
}

#top-right-header {
  font-size: 10px;
  padding-top: 2px;
  padding-right: 2px;
}

#top-center-header {
  padding-top: 0;
  width: 24%;
  font-size: 11px;
  font-weight: normal;
  color: white;
  background-color: black;
}

#name-header-div {
  width: 62%;
}
