/* Bill window styles */
body {
  margin: 3px 2px 5px 5px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  max-width: 130px;
  padding: 4px 0;
  margin-bottom: 6px;
  vertical-align: bottom;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td {
  padding: 0;
}

tr {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tr.sales-header th:nth-child(1),
tr.purchase-header th:nth-child(1) {
  text-align: left;
  padding-left: 10px;
  width: 25%;
}

tr.sales-row td:nth-child(1),
tr.purchase-row td:nth-child(1) {
  padding-left: 2px;
}

tr.sales-header th:nth-child(2),
tr.sales-row td:nth-child(2) {
  text-align: right;
  width: 10%;
}

tr.sales-header th:nth-child(3),
tr.sales-row td:nth-child(3),
tr.purchase-header th:nth-child(2),
tr.purchase-row td:nth-child(2) {
  text-align: right;
  width: 13%;
}

tr.sales-header th:nth-child(4),
tr.sales-row td:nth-child(4) {
  text-align: right;
}

tr.sales-row td:nth-child(5) {
  padding-right: 2px;
  text-align: right;
  width: 22%;
}

tr.sales-header th:nth-child(5) {
  padding-right: 10px;
  text-align: right;
  width: 22%;
}

tr.purchase-header th:nth-child(3),
tr.purchase-row td:nth-child(3) {
  text-align: right;
  width: 25%;
}

tr.purchase-header th:nth-child(4) {
  padding-right: 8px;
  text-align: right;
  width: 25%;
}

tr.purchase-row td:nth-child(4) {
  padding-right: 2px;
  text-align: right;
  width: 25%;
}

.bill-container {
  padding: 0;
  color: black;
  font-size: 14px;
  background-color: white;
}

.dashed-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.section-end {
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}

.section-close {
  padding-right: 2px;
  margin-bottom: 8px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.section-middle {
  margin-bottom: 0;
  padding-right: 2px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.title-large {
  margin-bottom: 0;
  text-align: center;
  font-size: 35px;
}

@font-face {
  font-family: 'gabriele';
  src: url('../resource/dsGabriele.ttf');
}

.sub-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 22px;
  font-family: gabriele;
}

.bill-contents {
  font-size: 14px;
}

.total-box {
  padding: 4px 0 2px;
  border: 1px solid black;
}

.due-box {
  padding-top: 2px;
  border-top: 1px solid black;
}

.wrapper-div {
  margin-bottom: 10px;
  overflow: hidden;
}

.custom-box {
  margin: 0 2px;
}

.upper-margin {
  margin-top: 25px;
}

.td-align-left {
  text-align: left;
}

.td-align-center {
  text-align: center;
}

.td-align-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.split-forty {
  width: calc(38% - 2px);
}

.default-none {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

table.print-friendly tr {
  page-break-inside: avoid;
}

.avoid-break-inside {
  break-inside: avoid-page;
}

.page-break-before {
  page-break-before: always;
}

.fixed-width {
  width: 32%;
}

.fixed-width-twenty {
  width: 24%;
}

.hindi-bold {
  padding-top: 2px;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

#print-button-div {
  overflow: hidden;
}

#print-button {
  position:fixed;
  top: 2px;
  right: 2px;
  z-index: 2;
  cursor: pointer;
  padding: 1px 5px;
  outline: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
}

#gst-button {
  position:fixed;
  top: 2px;
  left: 2px;
  z-index: 2;
  cursor: pointer;
  padding: 1px 5px;
  outline: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
}

#bill-header {
  border: 2px solid black;
}

#bill-top-header {
  overflow: hidden;
  font-size: 14px;
}

#top-left-header {
  font-size: 12px;
  padding-top: 2px;
  padding-left: 2px;
}

#top-right-header {
  font-size: 12px;
  padding-top: 2px;
  padding-right: 2px;
}

#top-center-header {
  padding-top: 0;
  width: 24%;
  color: white;
  background-color: black;
  font-size: 13px;
  font-weight: normal;
  font-family:"Courier New", Courier, monospace;
}

#name-header-div {
  width: 70%;
}

#bill-footer {
  color: white;
  background-color: black;
  margin: 2px 0;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

#rj-img {
  width: 80px;
}

#hallmark-img {
  width: 77px;
}
