/* tray window styling */
h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #1EB4FF;
}

tr {
  border: 2px solid #1EB4FF;
}

th, td {
  padding: 6px;
  vertical-align: bottom;
  border-left: 2px solid #1EB4FF;
  border-right: 2px solid #1EB4FF;
}

th.silver-border, td.silver-border {
  border: 2px solid silver;
}

th.white-border, td.white-border {
  border: 2px solid #FFFFFF;
}

tr.equi-column td {
  width: 50%;
}

input[type="radio"]
{
  cursor: pointer;
}

/* checkbox styles */
.checkbox-div {
  padding-top: 6px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: bottom;
}

.checked-row {
  background-color: #363A42;
}

.unchecked-row {
  background-color: #7A040A;
}

.checkbox-row, .checkbox-header {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

/* Tab window styles */
.tabs-window {
  width: 100%;
  height: 100%;
}

.tab-buttons-container {
  width: 100%;
  border: none;
  overflow: hidden;
  background-color: #23272D;
}

.tab-button {
  color: #FF4D4D;
  margin: 1px 0 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #1A1E23;
}

.tab-button:hover {
  color: #FF4D4D;
}

.tab-add-buttons {
  overflow: hidden;
  margin: 1px;
}

.tab-add-button {
  width: 30px;
  font-size: 20px;
  padding: 3px 0;
  border-radius: 4px;
  outline: none;
  color: #363A42;
  border: 1px solid #1A1E23;
}

#tab-add-sell:hover {
  background-color: #3BB83B;
}

#tab-add-buy:hover {
  background-color: #D90202;
}

.tab-button-selected {
  border: 1px solid #363A42;
  background-color: #363A42;
  color: #6AFC6A;
}

.tab-button-selected:hover {
  color: #6AFC6A;
}

.select-tab {
  background-color: inherit;
  color: inherit;
  width: 150px;
  border: none;
  outline:none;
  text-align: center;
  vertical-align: middle;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 0 7px 15px;
}

.close-tab {
  background-color: inherit;
  color: inherit;
  font-size: 20px;
  border: none;
  outline:none;
  float: left;
  margin: 5px 5px 0 0;
}

.close-tab:hover {
  color: #F78940;
}

.tab-contents-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  overflow: auto;
}

.tab-content {
  padding-bottom: 100px;
  background-color: inherit;
  display: none;
  overflow: hidden;
}

.tab-content-selected {
  display: block;
}

.tray-controls-container {
  overflow: hidden;
  margin: 0 20px;
  padding: 0 20px;
}

.tray-window-button {
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.controller-button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 20px;
  background-position: center;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px 0 #FFDF00;
}

.gst-bill-button {
  margin-top: 15px;
  margin-left: 10px;
  padding-top: 5px;
  width: 125px;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #363A42;
  background-color: #48DB48;
  box-shadow: 0 2px 4px 0 #FFDF00;
}

.gst-bill-button:hover {
  background-color: #3BB83B;
}

.convert-to-a-button {
  margin-top: 15px;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #363A42;
  background-color: #48DB48;
  box-shadow: 0 2px 4px 0 #FFDF00;
}

.convert-to-a-button:hover {
  background-color: #3BB83B;
}

.add-more-items-button {
  background-image: url('../resource/round_add_white_36.png');
}

.change-price-grade-button {
  background-size: 34px 34px;
  background-image: url('../resource/round_create_36.png');
}

.switch-tray-button {
  background-size: 42px 42px;
  background-image: url('../resource/switch_tray_white_36.png');
}

.proceed-button {
  background-image: url('../resource/round_play_arrow_36.png');
}

.back-button {
  background-image: url('../resource/back_play_arrow_36.png');
}

.bill-button {
  background-size: 30px 34px;
  background-image: url('../resource/generate_receipt_36.png');
}

.top-display {
  overflow: hidden;
  vertical-align: baseline;
}

.price-display {
  width: 45%;
}

.total-price-display {
  font-size: 40px;
  vertical-align: baseline;
}

.total-striked-price-display {
  font-size: 30px;
  padding-top: 14px;
  vertical-align: baseline;
}

.tray-container {
  overflow: hidden;
}

.price-card-box {
  margin: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.price-card {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 20px 20px 20px 0;
  width: 190px;
  height: 120px;
  color: inherit;
  background-color: inherit;
}

.price-card-selected {
  color: white !important;
  background-color: #0079A5;
  box-shadow: 0 4px 8px 0 white !important;
}

.price-card-selected *{
  color: white !important;
}

.price-card-box-buttons-container {
  color: inherit;
  width: 50px;
  margin: 5px;
  overflow: hidden;
}

.price-card-tooltip {
  margin: 0 20px;
  visibility: hidden;
  width: 150px;
  height: 15px;
  color: white;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
}

.price-card:hover > .price-card-tooltip {
  visibility: visible;
}

.sales-table-hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.visiblity-hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.price-table {
  margin: 50px 20px;
}

.weight-table {
  margin-top: 20px;
}

.cost-price {
  margin: 0 20px 20px;
}

.number-font {
  padding: 5px 10px;
  font-weight: bold;
  font-family: Old Standard TT;
}

.number-font-without-margin {
  padding: 5px 10px 5px 0;
  font-weight: bold;
  font-family: Old Standard TT;
}

.striked-off-number-font {
  text-decoration: line-through;
  font-weight: bold;
  font-family: Old Standard TT;
}

.striked-off-making-rate {
  font-size: 14px;
}

.gst-breakup-font {
  padding: 5px 10px;
  font-weight: bold;
  font-family: Old Standard TT;
  width: 300px;
  text-align: right;
}

.big-header-margin {
  margin-bottom: 25px;
}

.bold-font {
  font-weight: bold;
}

.large-font {
  font-size: 20px;
}

.xx-large-font {
  font-size: 45px;
}

.cost {
  font: 13px;
  color: red;
}

.item-label {
  margin: 10px 10px 0;
}

.table-top-label {
  margin: 10px 0;
}

.gst-applied {
  color: #48DB48;
  padding-top: 4px;
  font-size: medium;
  font-weight: bold;
  font-family: Old Standard TT;
}

.making-charge {
  color: #FFA500;
}

.metal-price {
  color: #1EFCFC;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-bottom {
  vertical-align: bottom;
}

.padding-left-two {
  padding-left: 2px;
}

.padding-left-five {
  padding-left: 4px;
}

.padding-top-five {
  padding-top: 5px;
}

.padding-top-ten {
  padding-top: 8px;
}

.padding-top-fifteen {
  padding-top: 20px;
}

.padding-top-thirty {
  padding-top: 30px;
}

.money-green {
  color: #48DB48;
}

.money-green-background {
  background-color: #48DB48;
}

.red-color {
  color: red;
}

.red-color-background {
  background-color: red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.gold-inner-shadow {
  box-shadow: inset 0 0 8px #FFDF00;
}

.silver-inner-shadow {
  box-shadow: inset 0 0 8px #DDDDDD;
}

.accessories-inner-shadow {
  box-shadow: inset 0 0 8px #82C0FF;
}

.recently-added-inner-shadow {
  box-shadow: inset 0 0 12px #4FFF4F;
}

.gold-outer-shadow {
  box-shadow: 0 4px 8px 0 #FFDF00;
}

.gold-color {
  color: #FFDF00;
}

.silver-outer-shadow {
  box-shadow: 0 4px 8px 0 #DDDDDD;
}

.silver-color {
  color: #DDDDDD;
}

.accessories-outer-shadow {
  box-shadow: 0 4px 8px 0 #82C0FF;
}

.accessories-color {
  color: #82C0FF;
}

.add-item-button {
  background-image: url('../resource/add-item-white.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.edit-item-button {
  background-image: url('../resource/edit-item-white.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

.remove-item-button {
  background-image: url('../resource/remove-item-white.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.down-arrow-button {
  background-image: url('../resource/down-arrow-12.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* exchange tray styles */

.exchange-window-container {
  background-color: inherit;
  width: calc(50% - 5px);
  overflow: hidden;
}

.exchange-window {
  background-color: inherit;
  overflow: hidden;
  font-size: 20px;
  margin: 20px;
  padding-top: 20px;
}

.exchange-card {
  padding: 10px;
  margin: 0 20px 20px;
  overflow: hidden;
}

.exchange-card-chip {
  width: calc(50% - 45px);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  color: #363A42;
  font-size: 16px;
  overflow: hidden;
}

.exchange-card-label {
  font-size: 32px;
}

.exchange-card-selected {
  color: white !important;
  background-color: #0079A5;
  box-shadow: 0 4px 8px 0 white !important;
}

.chip-header {
  margin-bottom: 0;
}

.exchange-card-close-button {
  line-height: .6em;
  cursor: pointer;
}

.weight-input-box {
  margin: 0 10px;
}

.switch-box {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch-box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .switch-slider {
  background-color: #010013;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #010013;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.switch-slider.round {
  border-radius: 28px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.sixty-width {
  width: calc(60% - 5px);
}

.forty-width {
  width: calc(40% - 5px);
}

/* net window display styles */

.net-windows-wrapper {
  overflow: hidden;
  margin: 20px;
}

.net-window-div {
  background-color: inherit;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 20px;
}

.half-width {
  width: calc(50% - 13px);
}

.table-data-div {
  text-align: center;
  font-weight: bold;
}

.table-header-color {
  color: #1EFCFC;
}

.table-border-color {
  color: #1EB4FF;
}

.gst-chart-button {
  margin: 20px 0 10px;
  width: 200px;
  padding: 5px 0;
  border-bottom: 2px solid #1EB4FF;
  font-weight: bold;
  cursor: pointer;
}

.gst-chart-state {
  font-weight: normal;
}

.gst-chart-content {
  width: 200px;
  display: none;
}

.gst-details-tooltip {
  position: absolute;
  visibility: hidden;
  top: 33%;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0 10px;
  padding: 5px 0;
  width: 160px;
  border-radius: 4px;
}

.gst-details-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.gst-chart-div:hover > .gst-details-tooltip {
  visibility: visible !important;
}

hr.breakup-divide {
  border: 1px solid #1EB4FF;
  width: 200px;
}

/* Tray container display styles */

.full-tray-container {
  display: none;
}

.full-tray-container-selected {
  display: block;
}
